.wrapper {
    height: 80px;
    display: flex;
    justify-content: center;
    padding: 10px;
}

.content {
    width: 55%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .item {
        width: 50%;
    }

    .item:nth-child(1) {
        text-align: start;
    }

    .item:nth-child(2) {
        text-align: end;
    }
}