@import "../app-variables.less";

.jumbotron-wrapper {
    width: 100%;
    height: 325px;
    display: flex;
    align-items: center;
}

.jumbotron {
    width: 100%;
    margin-left: 3%;
    margin-right: 3%;
}


@media (min-width: @medium) {
    .jumbotron-wrapper {
        height: 325px;
    }

    .jumbotron {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 20%;
        margin-right: 20%;
    }

    .jumbotron-content {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        width: 100%;
    }
}