.jumbotron-wrapper {
    height: 100%;
    width: 100%;
    height: 325px;
    display: flex;
    align-items: center;
}

.jumbotron {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-left: 20%;
    margin-right: 20%;
}

.jumbotron-content {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
}